snippet test "test" 
hello world
endsnippet

snippet comm_block "create a comment block"
----------------------------------------------------------------------
-- $1
----------------------------------------------------------------------
endsnippet
